@font-face {
	font-family: 'MoonTime';
	src: url('./lib/assets/fonts/MoonTime-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html,
body,
body > div {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}
